*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width:3px;
  height:3px;
  position: absolute;
}
::-webkit-scrollbar-thumb{
  background: #90c8fc;
}
::-webkit-scrollbar-track{
  background: #ddd;
}